.container {
    background-color: #e3f3f7;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.col{
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.col:hover{
    background-color: #ecfcff;
}