.container {
	display: flex;
	width: 70vw;
	height: 70vh;
	margin: auto;
	background-color: #fff;
	border-radius: 8px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #dcf4fe;
}

.form_container {
	padding: 12px 16px;
}

.col {
	margin: 10px 0;
}

.footer_txt {
	font-size: 12px;
	cursor: pointer;
}

.error {
	font-size: 10px;
	color: red;
}
