.container{
    display: flex;
    margin: auto;
    border-radius: 8px;
    width: 70vw;
    height: 70vh;
    background-color: #fff;
}

.main{
    background-color: #DCF4FE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container{
    padding: 12px 16px;
}

.col{
    margin: 10px 0;
}

.footer_txt{
    cursor: pointer;
    font-size: 12px;
}