.container {
    max-height: 100vh;
    margin: 20px;
    overflow-y: scroll;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.form_col {
    padding: 0 8px;
}

.label {
    font-size: 12px;
}
